:root {
    --primary: bisque;
    --secondary: lightblue;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.book {
    padding: 15px;
    margin: 15px;
    background: blanchedalmond; 
    border-radius: 8px;
}

.book img {
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 5px;
}

#book-details-column {
    padding: 15px;
    margin: 15px;
    background: #add8e6;
    border-radius: 8px;
}

#add-link {
    font-size: 2em;
    border: 2px solid #ffb6c1;
    padding: 5px 10px;
    border-radius: 5px;
}

#edit-link {
    float: right;
    margin-right: 15px;
    color: cyan; 
}

#delete-link {
    float: right;
    color: pink; 
}

#add-edit-book-container {
    padding: 15px;
    margin: 15px;
    background: palegreen; 
    border-radius: 8px;
}

/* Form */

label {
    display: block;
}

.inline {
    display: inline;
}

#maincharacters-p input {
    margin-top: 10px;
}

#add-maincharacter {
    color: darkcyan; 
    font-size: 1em;
    text-align: right;
}

/* Modal */

#modal-background {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal */

.dialog {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

.dialog img {
    max-width: 100%;
    display: block;
    padding: 30px 5px 30px 30px;
    margin: auto;
    border-radius: 5px;
}

/* close */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 0px 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* type */

#main-nav-items {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #ffb6c1; /* LightPink */
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

/* media */

@media (min-width: 600px) {
    .columns {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .two-columns div {
        flex: 1;
    }
    .book {
        width: 30%;
    }
    #add-edit-book-container {
        max-width: 40%;
        margin: auto;
    }
}
